body{
    margin-top: 10%;
    text-align: center;
    background-color: chocolate;
}

li{
    display: block;
    margin: 2%;
    color:maroon;
    font-weight: 900;
    font:italic;
}
li>button{
    margin-left:4%
}
button{
    border:maroon;
    margin-left: 2%;
    margin-top:2%;
    color: white;
    background-color:maroon;
    border-radius: 20%;
}


input{
    color: maroon;
}
